<launch>
<!-- <arg name="show_sign"  default="False"/> -->
<arg name="show_lane"  default="False"/>
<arg name="method"  default="histogram"/>
<node pkg="control" name="control" output="screen" type="control2.py" required="true"/>
<!-- <node pkg="control" name="localisation" output="screen" type="localisation.py" required="true"/> -->
<node pkg="control" args="--show $(arg show_lane) --method $(arg method)" name="lane" output="screen" type="lane.py" required="true"/>
</launch>
