<launch>
    <!-- <node pkg="control" type="cameraNode2" 				name="cameraNODE"  			    output="screen"/> -->
    <node pkg="control" type="laneNode" 				name="laneNODE"  			    output="screen"/>
    <!-- <node pkg="control" type="signFastest" 				name="signNODE"  			    output="screen"/> -->
    <!-- <node pkg="input" type="sensors.py" 				name="sensorNODE"  				output="screen"/> -->
    <node pkg="input" type="imuNODE.py" 				name="imuNODE"  				output="screen"/>
    <node pkg="input" type="encoderNODE.py" 		    name="encodeNODE"  				output="screen"/>
    <!-- <node pkg="output" type="serialNODE.py" 			name="serialNODE"  				output="screen"/> -->
    <!-- <node pkg="input" type="cameraNODE.py" 				name="camaeraNODE"  			output="screen"/> -->
</launch>